%header.masthead
  .container
    .row.page_header.admin
      .col-md-4
        %h1 Tävlingar

      .col-md-8#leftCol
        %ul.nav.nav-tabs.pull-right
          %li
            = link_to (fa_icon "plus", text: "Ny tävling"), new_competition_path

    .row.spacing
      = render :partial => 'admins/partials/menu'

      .col-md-10
        %table.table.table-hover
          %thead
            %th Namn
            %th
          %tbody
            - @competitions.each do |u|
              %tr
                %td= u.name
                %td
                  = link_to "", edit_competition_path(u), class: "glyphicon glyphicon-pencil"
