.col-md-12
  .well.text-center
    %h2 Välkommen #{current_user.name}!
    %h2
      %a{href: admin_users_path, class: "glyphicon glyphicon-4x glyphicon-user"}
      %a{href: admin_clubs_path, class: "glyphicon glyphicon-4x glyphicon-user"}
