= render :partial => 'competitions/partials/header', locals: {title: @page_title, heading: @heading}

.container
  .row
    .col-md-5
      %h2.highlight Taggar
      = render :partial => '/shared/partials/tags', locales: {tags: @tags}

  .row.spacing
