.container
  .row.spacing.page_header.normal
    .col-md-6
      %h1 Ny import
      %small På denna sidan kan du importera tävlingar direkt till sidan. Varje import kommer granskas och slutföras av en admin. Läs igenom informationen noga innan du skickar iväg den.
      %button.btn.btn-default{data: {toggle: "tooltip", placement: "right", title: "Tooltip on left"}}
        Hej
  = render 'form'
