%header.masthead
  .container
    .row
      .col-md-6
        %h1
          Chainnation
          %p.lead
            Statistik för Svenska Discgolftävlingar

      .col-md-6
        .well.pull-right
