.row
  .col-md-4
    = form_for(@tee) do |f|
      .form-group
        = f.text_field :color, placeholder: "färg", class: "form-control"
      .form-group
        = f.collection_select(:course_id, Course.all, :id, :name, class: 'form-control')
      .form-group
        = f.submit :Spara, class: 'btn btn-sm btn-primary'
