@import url('https://fonts.googleapis.com/css?family=Asap');
@import url('https://fonts.googleapis.com/css?family=Cookie');

h1{
	color: #24CCA9;
}

a,a:hover, a:visited {
	color:#666;
  text-decoration:none;
}

.highlight-bk {
	background-color:#77CCDD;
    padding:1px;
    width:100%;
}

.highlight {
	color:#24CCA9;
}

h3.highlight  {
	padding-top:13px;
  padding-bottom:14px;
	border-bottom:2px solid #4a4a49;
}

.uppercase{
	text-transform: uppercase;
}

.headtohead{
	color: #24CCA9;
}

.black{
	color: #616161;
	margin-right: 5px;
}
