.ob{
	box-shadow: inset 0 0 15px #4a4a49;
}

.ace{
	background-color: #FF5500;
}

.albatross{
	background-color: #14F732;
}

.eagle{
	background-color: #3DF556;
}

.birdie{
	background-color: #8FFFA3;
}

.par{
	background-color: #FEFEF0;
}

.bogey{
	background-color: #FFADAD;
}

.dblbogey{
	background-color: #F08181;
}

.tplbogey{
	background-color: #F26363;
}

.quadbogey{
	background-color: #F53D3D;
}

.other{
	background-color: #DB3535;
}
