<footer class="footer">
	<small>Nothing in this world worth having comes easy</small>
  <small class="pull-right">
    A <a href="http://rubyonrails.org/" target="_blank">Ruby on Rails</a> code snippet library by Johannes Nyberg
  </small>
</footer>